@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #fff;
}

/* headings and trademark*/
h1,
h2,
h3 {
    font-family: poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #f1c40f;
}

.vessel {
    width: 80%;
    margin: auto;
    overflow: auto;
}

ul {
    margin: 0;
    padding: 0;
}

.submit {
    height: 38px;
    background: #f1c40f;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

.grey {
    padding: 15px;
    background: #3a3a3a;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

header {
    background: #3a3a3a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #3a3a3a 3px solid;
}

header a {
    color: #f1c40f;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #trademark {
    float: left;
}

header #trademark h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .current a {
    color: #f1c40f;
    font-weight: bold;
}

header a:hover {
    color: #fff;
    font-weight: bold;
}

.current {
    color: #fff;
}

/* the main image section*/
#main {
    width: 100%;
    height: 600px;
    background: url('../images/kla.jpeg') no-repeat center center;
    color: #fff;
}

#main h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#main p {
    font-size: 20px;
    color: #3a3a3a;
    font-weight: bold;
}

/* the cases*/
#cases {
    margin-top: 20px;
}

#cases .case1 {
    float: left;
    text-align: right;
    width: 50%;
    padding: 0;
    box-sizing: border-box;
}

#cases .case2 {
    float: right;
    text-align: right;
    width: 50%;
    padding: 0;
    box-sizing: border-box;
}

#cases .case1 {
    background: url('../images/crane.jpg') no-repeat center center;
    background-color: #3a3a3a;
    background-size: cover;
    width: 100%;
    height: 300px;
}

#cases .case2 {
    background: url('../images/monument.jpg') no-repeat center center;
    background-color: #3a3a3a;
    background-size: cover;
    width: 100%;
    height: 300px;
}

#cases p {
    color: #3a3a3a;
    position: relative;
}

td {
    padding: 10px;
}

/*side bar*/
aside#side-bar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#side-bar .subscribe {
    width: 90%;
    padding: 5px;
}

/*major*/
#major {
    background: url('../images/exploring.jpeg');
    background-size: cover;
    background-position: center;
    height: 900px;
    margin-bottom: 0;
}

/*major-col*/
article#major-col {
    float: left;
    width: 65%;
    height: 850px;
}

/*about list*/
ul#about li {
    list-style: none;
    padding: 20px;
    border: 1px solid #3a3a3a;
    margin-bottom: 5px;
    background: #fff;
}

#about-form {
    display: none;
}

#about-form section {
    background: #3a3a3a;
    padding: 10px;
}

.subscribe input {
    width: 100%;
    padding: 10px;
}

.subscribe .submit:hover {
    color: #3a3a3a;
    font-weight: bold;
}

.subscribe1 input {
    width: 80%;
    padding: 10px;
}

.submit1 {
    width: 50px;
    background: #f1c40f;
    color: #fff;
    padding: 20px 20px;

}

.subscribe1 .submit1:hover {
    color: #3a3a3a;
    font-weight: bold;
}

footer {
    padding: 20px;
    margin-top: 0;
    color: #ffffff;
    background-color: #f1c40f;
    text-align: center;
}

/*history page*/
#history-main {
    background: url('../images/history1.jpeg') no-repeat center center;
    height: 600px;
    width: 100%;
    background-size: cover;
}

#history-main h1 {
    text-align: left;
}

#history-form {
    margin: 0;
    padding: 2px;
    border-radius: 2px;
    background: #3a3a3a;
}

.center {
    text-align: center;
}

#history-form input,
textarea {
    width: 75%;
    margin: 1%;
    padding: 2%;
    border: #f1c40f;
    border: 2px;
}

#history-form .submit:hover {
    color: #3a3a3a;
}

/*media queries*/
@media (max-width: 770px) {

    header #trademark,
    header nav,
    header nav li,
    #cases .case,
    article#major-col,
    aside#side-bar {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    main h1 {
        margin-top: 40px;
    }

    #about-form {
        display: inline;
        text-align: center;
        margin-left: 0px;
        width: 100%;
        border-radius: 2px;
    }

    .grey {
        display: none;
    }
}

@media screen and (max-width:600px) {
    body {
        font-size: 12px;
    }

    #mobilemenu {
        display: inline;
    }

    nav {
        display: inline;
    }

    table,
    tbody,
    td,
    tr {
        display: block;
    }

    #about-form {
        display: inline;
        text-align: center;
        margin-left: 0px;
        width: 100%;
        border-radius: 2px;
    }

    .grey {
        display: none;
    }

    /*aside#aside-bar{
        float: none;
        display: inline;
    }*/
}