@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
   margin: 0;
   border: none; 
   padding: 0;
}
body{
    font-family: Poppins,sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
/* heading and trademark*/
h1{
font-family: poppins, sans-serif;
text-transform: uppercase;
letter-spacing: 4px;
color: #f1c40f;
}